<div class="row">
  <center>
  <h1>
    Happy Valentine's Day (2017)
    <p></p>
    from one brilliant programmer to another!
  </h1>
  </center>
</div>

<div class="row">
  <center>
    <img class="img-responsive" src="/assets/images/introphoto.jpg" width=450>
  </center>
</div>

<div class="row">
  <div class="col-md-12">
    <center>
      <h2>
        I love you <a href="/reasons/<%= @reasons.sample.id %>">because</a>...
      </h2>
    </center>
  </div>
</div>
