<!-- Validation failure messages -->
<% if @reason.errors.any? %>
  <% @reason.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add a Reason</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_reason" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for caption -->
      <div class="form-group">
        <label for="caption" class="control-label">
          I love you because
        </label>

        <textarea id="caption" name="caption" placeholder="Enter reason here" class="form-control" rows="3"><%= @reason.caption %></textarea>
      </div>

      <!-- Label and input for photo -->
      <div class="form-group">
        <label for="photo" class="control-label">
          Add image
        </label>

        <input type="file" id="photo" name="photo" placeholder="Enter image source here" class="form-control" value="<%= @reason.photo %>">
      </div>

      <button class="btn btn-success">
        Add
      </button>
      or
      <a href="/reasons">Cancel</a>
    </form>
  </div>
</div>
